@charset "UFT-8";
@import "variables", "mixin", "fonts", "reset", "main", "contents";

// comm.scss -
// 공통요소 : 헤더, 풋터, 버튼, 아이콘, 박스

// 공통
html {
  overflow-x: hidden;
}
body {
  background-color: $b;
  color: $w;
  overflow-x: hidden;
  font-family: $crimson-font;
}
.hidden {
  display: none;
}
.wrap {
  // max-width: 1440px;
  margin: 0 auto;
  opacity: 0;
}
.start {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.start-wrap {
  width: 100%;
  height: 100vh;
  display: none;
}
.loader {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // text-transform: uppercase;
  font-size: 48px;
  z-index: 1001;
  width: fit-content;
  white-space: nowrap;
  @media screen and (max-width: 1024px) {
    font-size: 40px;
  }
  @media screen and (max-width: 786px) {
    font-size: 36px;
  }
  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}

// 팝업창
.popup-box {
  /* 초기 상태: 팝업은 숨김 */
  strong {
    color: #000;
    padding: 15px 50px 15px;
    display: block;
    font-size: 28px;
  }
  .line {
    width: 80%;
    height: 1px;
    background: #000;
  }
  .popup-btn {
    width: fit-content;
    font-size: 18px;
    padding: 12px 24px 12px;
    &:hover {
      background: $gray-800;
    }
  }
  .popup,
  .popup-overlay {
    // display: none;
    opacity: 0;
  }

  /* 오버레이 배경 */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 검은 배경 */
    z-index: 1004; /* 팝업 위에 표시 */
  }
  .presskit,
  .live {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* 팝업 내용 */
  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px 30px 40px;
    border-radius: 10px;
    z-index: 1005;
  }
  .closebtn {
    position: absolute;
    top: 8%;
    right: 5%;
    font-weight: bold;
    .la-times {
      font-size: 30px;
    }
  }
}

.block {
  position: fixed;
  width: 5%;
  height: 100vh;
  background: $b;
  display: none;
  // background: $point-color-1;
}

.block-1 {
  left: 0;
}

.block-2 {
  left: 5%;
}

.block-3 {
  left: 10%;
}

.block-4 {
  left: 15%;
}

.block-5 {
  left: 20%;
}

.block-6 {
  left: 25%;
}

.block-7 {
  left: 30%;
}

.block-8 {
  left: 35%;
}

.block-9 {
  left: 40%;
}

.block-10 {
  left: 45%;
}

.block-11 {
  left: 50%;
}

.block-12 {
  left: 55%;
}

.block-13 {
  left: 60%;
}

.block-14 {
  left: 65%;
}

.block-15 {
  left: 70%;
}

.block-16 {
  left: 75%;
}

.block-17 {
  left: 80%;
}

.block-18 {
  left: 85%;
}

.block-19 {
  left: 90%;
}

.block-20 {
  left: 95%;
}

section {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  @media screen and (min-width: 1441px) {
    max-width: none;
  }
  // @media screen and (max-width: 1024px) {
  //   height: 1366px !important;
  // }
  // @media screen and (max-width: 820px) {
  //   height: 1024px !important;
  // }
}
p,
span,
strong {
  word-break: keep-all;
  word-wrap: normal;
}
.container {
  padding-left: 32px;
  padding-right: 32px;
  height: 793px;
  // background-color: #121212;
  @media screen and (min-width: 1441px) {
    padding: 0 56px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
}
.kr {
  font-family: $chosun-font !important;
}
.name-kr {
  height: 12px;
  font-size: 2vw;
  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
.btn {
  width: $width;
  border-radius: 100px;
  color: $w;
  font-family: $pretendard-font;
  font-size: 16px;
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  overflow: hidden;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
}
.btn-nofilled {
  padding: 12px 24px;
  @media screen and (max-width: 480px) {
    padding: 12px 14px;
  }
}
.btn-outline2 {
  padding: 12px 24px 12px 30px;
  border: solid $w 1px;
}
.btn-outline {
  padding: 12px 24px 12px 30px;
  // border: solid $w 1px;

  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #000;
  color: #fff;
  border-radius: 1999px;
  font-weight: 600;
  // padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;

  .btn_icon_wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .button1__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    // color: black;

    .btn_icon_wrapper {
      color: #fff;
      background-color: #000;
      // background-color: rgba(255, 255, 255, 0.3);
    }

    .button1__icon-svg:first-child {
      transition: transform 0.3s ease-in-out;
      transform: translate(150%, -150%);
    }

    .button1__icon-svg--copy {
      transition: transform 0.3s ease-in-out 0.1s;
      transform: translate(0);
    }
  }
}
.go-to-hp,
.btn-home {
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.go-to-hp {
  @media screen and (max-width: 590px) {
    display: none;
  }
}
.go-to-hp-mobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: flex;
    padding: 13px 10px 12px 14px;
    gap: 4px;
  }
}

// header
#header {
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: fit-content;
  padding: 40px 32px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 786px) {
    padding: 40px 24px 20px;
  }
  @media screen and (max-width: 480px) {
    padding: 30px 20px 20px;
  }
  .left-side {
    display: flex;
    gap: 30px;
    align-items: center;
    width: fit-content;
    @media screen and (max-width: 480px) {
      gap: 12px;
      height: 36px;
    }
  }
  .logo-img-1 {
    width: 129px;
  }
  .logo-img-2 {
    width: 70px;
    @media screen and (max-width: 786px) {
      width: 60px;
    }
  }
  #logo,
  .logo,
  #anniversary-logo {
    display: flex;
    @media screen and (max-width: 480px) {
      height: 36px;
      width: auto;
      object-fit: contain;
    }
  }
  .right-side {
    display: flex;
    height: fit-content;
  }
  .cta-btn-group {
    display: flex;
    gap: 6px;
    height: fit-content;
    @media screen and (max-width: 480px) {
      gap: 4px;
    }
  }
}

// main
// 히어로 섹션
.hero-sect {
  display: flex;
  align-items: flex-end;
  height: 100svh;
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    .img {
      width: 100%;
      height: 1800px;
      background: url(../img/bg/before-laureates-gallery-section.jpg) no-repeat
        0 0 / cover;
      animation: background-move 10s ease-in-out infinite alternate;
      @media screen and (max-width: 768px) {
        background: url(../img/bg/before-laureates-gallery-section-mobile.jpg)
          no-repeat 0 100% / cover;
        height: 1400px;
      }
    }
    @keyframes background-move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 0 -100px;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 10vh;
    // padding-bottom: 7%;
    @media screen and (min-width: 1441px) {
      padding-bottom: 9%;
    }
    @media screen and (max-width: 480px) {
      gap: 8px;
      margin-bottom: 10vh;
      padding-bottom: 7vh;
      // margin-bottom: 130px;
    }
    @media screen and (max-width: 360px) {
      margin-bottom: 90px;
    }
  }
  .container-kr {
    .img-box {
      transform: translateY(45%);
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 70px;
      padding-bottom: 3vh;
    }
  }
  .text-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: fit-content;
    @media screen and (max-width: 480px) {
      gap: 10px;
    }
    .sub-title {
      font-family: $crimson-font;
      letter-spacing: 16px;
      font-size: 24px;
      background: $color-gradient-silver;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      @media screen and (max-width: 1024px) {
        font-size: 23px;
        letter-spacing: 7px;
      }
      @media screen and (max-width: 786px) {
        font-size: 16px;
        letter-spacing: 3px;
      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
        letter-spacing: 6px;
      }
    }
    .sub-title-kr {
      font-family: $chosun-font;
      color: rgba(255, 255, 255, 0.8);
      line-height: 160%;
      font-size: 20px;
    }
    .title-box {
      width: 100%;
      height: 222px;
      .title {
        // height: 222px;
        height: auto;
        width: 100%;
        object-fit: cover;
        @media screen and (max-width: 480px) {
          display: none;
        }
      }
      .title-mobile {
        display: none;
        @media screen and (max-width: 480px) {
          display: flex;
          flex-direction: column;
          font-family: $cinzel-font;
          font-size: 48px;
          span {
            display: flex;
            height: 62px;
            align-items: center;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }

  .img-box {
    width: 47%;
    transform: translateY(30%);
    z-index: -1;
    @media screen and (max-width: 768px) {
      width: 80%;
    }
    @media screen and (max-width: 480px) {
      transform: translateY(0%);
      z-index: 0;
      width: 100%;
    }
    .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      // background: url("../img/hero/hero-section-img.gif") no-repeat 0 0 / cover;
    }
  }
}
//슬로건 섹션
.slogan-sect {
  height: 100% !important;
  margin: 200px auto;
  // @media screen and (max-width: 768px) {
  //   height: 1024px !important;
  // }
  .container {
    height: 100%;
    // @media screen and (max-width: 768px) {
    //   height: 1024px !important;
    // }
  }
  .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
    // text-transform: uppercase;
    padding-bottom: 120px;
    .text {
      font-family: $crimson-font;
      font-size: 32px;
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
    }
    .text-right {
      text-align: right;
    }
    .line {
      width: 100%;
      height: 1px;
      background: $w;
    }
    .arrow-box {
      text-align: right;
      height: 83px;
      width: 100%;
    }
    .arrow {
      width: auto;
      height: 100%;
    }
    .highlight {
      // font-family: $italianno-font;
      // font-family: $cinzel-font;
      // text-transform: uppercase;
      font-weight: 500;
      // font-style: italic;
      // color: $point-color-4;
      // font-size: 28px;
    }
  }
  .slogan2-sect {
    padding-top: 120px;
    @media screen and (max-width: 768px) {
      padding-top: 120px;
    }
    @media screen and (max-width: 480px) {
      padding-top: 100px;
    }
  }
  .slogan {
    padding-top: 6%;
    height: 100vh !important;
    max-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $crimson-font;
    line-height: 1400%;
    padding: 0 54px !important;
    @media screen and (max-width: 1024px) {
      padding: 0 24px !important;
    }
    @media screen and (max-width: 768px) {
      height: auto !important;
      // max-height: auto !important;
    }

    &::before {
      display: none;
      content: "";
      // background: $w;
      background: $point-color-1;
      position: absolute;
      left: -32px;
      right: -32px;
      top: 63%;
      bottom: 6%;
      z-index: -1;
      opacity: var(--before-opacity, 0);
    }
    .text {
      // font-size: 1000%;
      // font-size: 220px;
      font-size: 15vw;
      height: 13vw;
      font-weight: bold;
      color: $w;
      letter-spacing: -3px;
      display: flex;
      align-items: center;
      // background: url(../img/bg/bg-holo.png) no-repeat 100% 50%;
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
      @media screen and (max-width: 768px) {
        height: 14vw;
      }
      @media screen and (max-width: 480px) {
        letter-spacing: 0px;
      }
    }
    .text_4 {
      font-size: 4vw;
      height: 5vw;
    }
  }
  .slogan-bg {
    background: url(../img/bg/Union.png) no-repeat 0 0 / cover;
    width: 100%;
    height: 200%;
    position: absolute;
    top: 230%;
    left: 30%;
    z-index: -1;
    display: none;
  }
}

// 수상자 섹션
// ************* 공통 *************
.laureate-sect {
  max-width: none !important;
  width: 100vw;
}
.laureate1-container,
.laureate2-container,
.laureate3-container,
.laureate4-container {
  width: 500%;
  max-width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  .container {
    height: 100vh;
    // @media screen and (max-width: 1024px) {
    //   height: 768px;
    // }
    @media screen and (max-width: 768px) {
      padding: 50px 20px;
    }
  }
}

// 섹션 1
.laureate1-sect-1,
.laureate2-sect-1,
.laureate3-sect-1,
.laureate4-sect-1 {
  max-width: none !important;
  opacity: 0;
  // 비디오
  .video-box {
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 10;
    }
  }
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    @media screen and (max-width: 480px) {
      height: 100vh;
    }
  }
  .container {
    position: absolute;
    z-index: 10;
    bottom: 45%;
    left: 50%;
    height: fit-content;
    transform: translateX(-50%);
    @media screen and (max-width: 768px) {
      bottom: 42%;
    }
    @media screen and (max-width: 480px) {
      bottom: 38%;
      width: 100%;
    }
  }
  .contents-title {
    font-size: 30px;
  }
  .contents {
    font-size: 16px;
  }
  // - 섹션 1 타이틀
  .title-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sub-title {
    font-family: $crimson-font;
    font-size: 22px;
    letter-spacing: 7px;
    opacity: 0.8;
    white-space: nowrap;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      letter-spacing: 4px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
      letter-spacing: 3px;
    }
    @media screen and (max-width: 480px) {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
  .name {
    font-family: $crimson-font;
    font-size: 74px;
    height: 93px;
    white-space: nowrap;
    @media screen and (max-width: 1024px) {
      font-size: 56px;
      height: 78px;
    }
    @media screen and (max-width: 904px) {
      font-size: 48px;
    }
    @media screen and (max-width: 768px) {
      font-size: 48px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 480px) {
      font-size: 32px;
    }
  }
  .side-text-box {
    font-family: $crimson-font;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    opacity: 0.8;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      // transform: translate(-50%, 170%);
    }
    @media screen and (max-width: 480px) {
      top: 0;
      bottom: 0;
    }
    .left,
    .right {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .mobile {
      display: none;
      justify-content: space-between;
      .top,
      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px;
        span {
          font-style: normal;
          font-size: 16px;
          height: 15px;
          display: flex;
          align-items: center;
        }
      }
      @media screen and (max-width: 480px) {
        display: none;
        // display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        position: absolute;
        z-index: 10;
      }
    }
  }
}
// 섹션 2
.laureate1-sect-2,
.laureate2-sect-2,
.laureate3-sect-2,
.laureate4-sect-2 {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    display: flex;
    align-items: flex-end;
    gap: 80px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      // height: fit-content;
    }
    @media screen and (max-width: 480px) {
      height: 100%;
    }
  }
  // .img-box,
  // .text-box {
  //   flex: 1;
  // }
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
    margin: 10% 0;
    @media screen and (max-width: 768px) {
      margin: 0;
      width: 100%;
      padding-left: 10px;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .img-box {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.5s;
      @media screen and (max-width: 1024px) {
        // height: 60%;
        object-position: 60%;
      }
      @media screen and (max-width: 768px) {
        height: 100%;
        // height: auto;
        width: 100%;
      }
      @media screen and (max-width: 480px) {
        height: 100%;
        gap: 10%;
      }
    }
  }
  .bg {
    width: 60%;
    height: 20%;
    transform: rotate(-11deg);
    position: absolute;
    right: 50%;
    // bottom: -5%;
    @media screen and (max-width: 768px) {
      display: none;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
}
.laureate3-sect-2 {
  .img-box {
    img {
      @media screen and (max-width: 1024px) {
        object-position: 30% !important;
      }
    }
  }
}
// 텍스트 - 섹션 2, 3, 4
.contents-title {
  // white-space: nowrap;
  font-size: 30px;
  @media screen and (max-width: 1024px) {
    font-size: 22px;
  }
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
.text-box {
  width: 70%;
}
.contents {
  font-size: 16px;
  height: fit-content;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
  .mobile-hidden {
    @media screen and (max-width: 380px) {
      display: none;
    }
  }
}
.top span {
  font-size: 24px;
  font-style: italic;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
// 섹션 3
.laureate1-sect-3,
.laureate2-sect-3,
.laureate3-sect-3,
.laureate4-sect-3 {
  padding: 50px 64px;
  @media screen and (max-width: 480px) {
    padding: 50px 20px;
  }

  .text {
    width: 100%;
    flex: 1;
    height: fit-content;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 480px) {
      gap: 12px;
      display: flex;
      flex-direction: column;
    }
  }
  .wrap img {
    transition: all 0.3s;
  }
}
// 섹션 4
.laureate1-sect-4,
.laureate2-sect-4,
.laureate3-sect-4,
.laureate4-sect-4 {
  padding: 50px 64px;
  @media screen and (max-width: 480px) {
    padding: 50px 20px;
  }
  .wrap {
    height: 100%;
    @media screen and (max-width: 480px) {
      height: 100%;
    }
    .img-box {
      height: 75%;
      width: 100%;
      @media screen and (max-width: 480px) {
        flex: 1;
      }
      img {
        width: 100%;
        @media screen and (max-width: 480px) {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 25%;
        }
      }
    }
    .text-box {
      @media screen and (max-width: 480px) {
        // width: 100%;
        width: 90%;
      }
    }
  }
}
// 섹션 5
.laureate1-sect-5,
.laureate2-sect-5,
.laureate3-sect-5,
.laureate4-sect-5 {
  opacity: 0;
  .container {
    display: flex;
    @media screen and (max-width: 1024px) {
      gap: 24px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .img-box {
    flex: 1;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    flex: 1;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 100%;
      gap: 30px;
    }
  }
  .contents {
    font-size: 24px;
    @media screen and (max-width: 1024px) {
      font-size: 22px;
    }
    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
  .line {
    width: 1px;
    height: 100px;
    transform: rotate(45deg);
    background: $w;
  }
}
//************* 수상자 1 *************
.laureate1-sect-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    gap: 56px;
    justify-content: initial;
  }
  @media screen and (max-width: 380px) {
    gap: 0px;
    justify-content: initial;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    max-height: 678px;
    width: 100%;
    @media screen and (max-width: 1024px) {
      height: auto;
    }
    @media screen and (max-width: 768px) {
      max-height: none;
      height: 100%;
      justify-content: space-between;
      // gap: 48px;
    }
    @media screen and (max-width: 480px) {
      justify-content: space-evenly;
      height: 100%;
    }
  }
  .text {
    flex: none;
    width: 60%;
    position: absolute;
    right: -5%;
    @media screen and (max-width: 1990px) {
      right: -9%;
    }
    @media screen and (max-width: 1900px) {
      right: -7%;
    }
    @media screen and (max-width: 1800px) {
      right: -10%;
    }
    @media screen and (max-width: 1600px) {
      width: 40%;
      right: 7.5%;
    }
    @media screen and (max-width: 1400px) {
      right: 6%;
    }
    @media screen and (max-width: 1300px) {
      right: 3%;
    }
    @media screen and (max-width: 1024px) {
      // width: 100%;
      width: 100%;
      position: relative;
      right: 0;
    }
    @media screen and (max-width: 768px) {
      // width: 40%;
      width: 100%;
      position: relative;
      right: 0;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      position: relative;
      right: 0;
    }
  }
  .big-screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      gap: 24px;
      display: none;
    }
    // @media screen and (max-width: 768px) {
    //   display: none;
    // }
    .text {
      width: 60%;
      left: 30%;
      // left: 33%;
      @media screen and (max-width: 1600px) {
        width: 40%;
      }
    }
  }
  .small-screen {
    display: none;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 16px;
      @media screen and (max-width: 480px) {
        width: 100%;
        // height: auto;
        height: 100%;
      }
      .img-box {
        width: fit-content;
        @media screen and (max-width: 480px) {
          width: 100%;
        }
        img {
          flex: 1;
          flex-basis: auto;
          @media screen and (max-width: 480px) {
            // height: 30%;
            // height: 100%;
            width: 50%;
          }
        }
        .img-1 {
          @media screen and (max-width: 480px) {
            // width: 101px;
          }
        }
      }
    }
  }
  .top-contents,
  .bottom-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    @media screen and (max-width: 1024px) {
      gap: 24px;
      // flex-direction: column;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 16px;
    }
    @media screen and (max-width: 480px) {
      gap: 10px;
      justify-content: space-evenly;
      flex: initial;
      height: 100%;
    }
  }
  .top-contents {
    @media screen and (max-width: 768px) {
      align-items: flex-start;
    }
    @media screen and (max-width: 480px) {
      height: auto;
    }
    .text {
      @media screen and (max-width: 1024px) {
        width: 40%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  .bottom-contents {
    justify-content: flex-end;
  }
  .img-box {
    flex: 1;
    display: flex;
    gap: 24px;
    @media screen and (max-width: 768px) {
      gap: 0px;
    }
    @media screen and (max-width: 480px) {
      gap: 10px;
      width: 100%;
    }
  }
  img {
    width: 300px;
    height: 300px;
    // flex: 1;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 8px;
    @media screen and (max-width: 1024px) {
      width: 240px;
      height: 240px;
    }
    @media screen and (max-width: 768px) {
      // width: auto;
      // height: 111px;
      padding-right: 10px;
      height: 100%;
      width: 50%;
    }
  }
  .text {
    .contents-title {
      width: fit-content;
    }
  }
  .contents {
    width: 70%;
    @media screen and (max-width: 1600px) {
      width: 100%;
    }
  }
}
.laureate1-sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    // height: 100%;
    @media screen and (max-width: 768px) {
      gap: 48px;
    }
    @media screen and (max-width: 480px) {
      // height: 90%;
    }
  }
  .content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .img-box {
    // height: 70%;
    // width: 100%;
    img {
      width: 50%;
      @media screen and (max-width: 1400px) {
        width: 80%;
        height: 100%;
        object-fit: cover;
        object-position: 30%;
      }
      @media screen and (max-width: 768px) {
        height: 100%;
        object-fit: cover;
        object-position: 30%;
      }
      @media screen and (max-width: 480px) {
        // width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .text-box {
    width: 40%;
    // width: 50%;
    transform: translate(-30%, 0%);
    @media screen and (max-width: 1440px) {
      width: 60%;
    }
    @media screen and (max-width: 1024px) {
      width: 90%;
      // width: 70%;
    }
    @media screen and (max-width: 1024px) {
      width: 90%;
      // width: 70%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 480px) {
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
  }
  .line {
    margin: -3% 100%;
    // margin: -3% 70%;
    width: 1px;
    height: 100px;
    background-color: $w;
    transform: rotate(45deg);
    @media screen and (max-width: 1024px) {
      margin: -3% 90%;
    }
  }
}
.laureate1-sect-5 {
  .img-box {
    background: url(../img/laureate1-patrick/7.webp) no-repeat 50% 50% / cover;
  }
  .bg {
    width: 60%;
    height: 20%;
    transform: rotate(-13deg);
    position: absolute;
    background: url(../img/bg/Union.png) no-repeat 0 0 / cover;
    display: none;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
//************* 수상자 2 *************
.laureate2-sect-2 {
  .bg {
    width: 40%;
    height: 23%;
    // background: url(../img/laureate3-hugh/hue_sign_1@2x.png) no-repeat 0 0 /
    //   cover;
  }
}
.laureate2-sect-3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    gap: 48px;
  }
  @media screen and (max-width: 480px) {
    gap: 0px;
  }
  .wrap {
    display: flex;
    height: 100%;
    gap: 24px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: 100%;
      gap: 24px;
    }
    @media screen and (max-width: 480px) {
      // gap: 36px;
    }
  }
  .left-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    flex: 1;
    flex-basis: 0;
    @media screen and (max-width: 768px) {
      gap: 0;
    }
    @media screen and (max-width: 480px) {
      flex: none;
    }
    .top-contents {
      display: flex;
      gap: 48px;
      flex: 1;
      flex-basis: 0;
      align-items: center;
      @media screen and (max-width: 1024px) {
        gap: 24px;
      }
      @media screen and (max-width: 480px) {
        display: none;
      }
      .img-box {
        display: none;
        height: 327px;
        width: 327px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: none;
        }
        @media screen and (max-width: 1024px) {
          height: 240px;
          width: 240px;
        }
      }
      .text-box {
        flex: 1;
        flex-basis: 0;
      }
    }
    .bottom-contents {
      display: flex;
      gap: 24px;
      // flex: 1;
      flex-basis: 0;
      @media screen and (max-width: 480px) {
        display: none;
      }
      li {
        // flex: 1;
        // flex-basis: 0;
        height: 327px;
        width: 327px;
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: none;
        }
        @media screen and (max-width: 1024px) {
          height: 240px;
          width: 240px;
        }
      }
    }
    .mobile {
      display: none;
      @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 0px;
        // gap: 24px;
      }
      .top {
        @media screen and (max-width: 480px) {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        img {
          @media screen and (max-width: 480px) {
            height: 117px;
            width: 100%;
            object-fit: cover;
          }
        }
        ul {
          display: flex;
          gap: 10px;
          li {
            flex: 1;
          }
        }
      }
      .bottom {
        .text-box {
          @media screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
  .right-box {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    flex-basis: 0;
    width: fit-content;
    @media screen and (max-width: 768px) {
      flex-direction: row-reverse;
      align-items: normal;
      gap: 24px;
      // gap: 160px;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    .img-box {
      height: 327px;
      width: 100%;
      // width: 487px;
      // width: 327px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media screen and (max-width: 1024px) {
        height: 100%;
        // height: 240px;
        width: 100%;
        // width: 240px;
        object-fit: cover;
      }
      @media screen and (max-width: 768px) {
        height: 100%;
        // height: 240px;
        width: 100%;
        object-fit: cover;
      }
      @media screen and (max-width: 480px) {
        height: 110px;
      }
    }
    .text-box {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 50px;
      width: 100%;
      padding-left: 80px;
      // width: 85%;
      @media screen and (max-width: 1440px) {
        padding-left: 40px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding-left: 20px;
        // width: 80%;
      }
      @media screen and (max-width: 768px) {
        height: 100%;
        padding-left: 0px;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        height: auto;
      }
    }
  }
  .contents {
    width: 90%;
    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }
}
.laureate2-sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // justify-content: space-between;
    // gap: 24px;
    // height: 100%;
    flex: 1;
    height: 100%;
  }
  .img-box {
    // background: url(../img/laureate3-hugh/4.webp) no-repeat 50% 0% / cover;
    // width: 100%;
    // flex: 1;
    // height: 75% !important;
    height: 75%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .contents-box {
    display: flex;
    justify-content: flex-end;
    .text-box {
      // width: 55%;
      // width: 100%;
      width: 70%;
      // width: 60%;
      @media screen and (max-width: 1024px) {
        width: 75%;
        // width: 100%;
      }
      @media screen and (max-width: 786px) {
        // width: 75%;
        width: 100%;
      }
    }
  }
  .contents {
    width: 80%;
    @media screen and (max-width: 1440px) {
      width: 100%;
      // width: 100%;
    }
  }
  .line {
    margin: 3% 90%;
    width: 100px;
    height: 1px;
    background: $w;
    transform: rotate(-45deg);
  }
}
.laureate2-sect-5 {
  .img-box {
    opacity: 0;
    background: url(../img/laureate3-hugh/5.jpg) no-repeat 50% 50% / cover;
    @media screen and (max-width: 786px) {
      opacity: 1;
    }
  }
}

//************* 수상자 3 *************
.laureate3-sect-2 {
  .bg {
    width: 47%;
    height: 20%;
  }
}
.laureate3-sect-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    gap: 0px;
    // gap: 48px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // gap: 48px;
    margin: 0;
    height: 100%;
    @media screen and (max-width: 768px) {
      height: 100%;
      // gap: 62px;
    }
    @media screen and (max-width: 480px) {
      height: 80%;
      // gap: 32px;
      // justify-content: space-between;
    }
  }

  .top-contents {
    // flex: 1;
    width: 45%;
    // width: 60%;
    @media screen and (max-width: 1440px) {
      width: 55%;
    }
    @media screen and (max-width: 768px) {
      flex: none;
      width: 100%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .middle-contents {
    // flex: 1;
    display: flex;
    gap: 16px;
    width: 100%;
    height: 300px;
    @media screen and (max-width: 1024px) {
      height: 240px;
    }
    @media screen and (max-width: 768px) {
      height: 300px;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 480px) {
      height: auto;
      // height: 180px;
      // margin-bottom: 110px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // @media screen and (max-width: 480px) {
      //   width: 60%;
      // }
    }
    li:nth-child(1) {
      img {
        @media screen and (max-width: 786px) {
          display: none;
        }
        @media screen and (max-width: 480px) {
          width: 80%;
        }
      }
    }
    li:nth-child(2) img {
      filter: none;
    }
    li:nth-child(2) {
      width: 70%;
      // width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    li:nth-child(3) {
      img {
        @media screen and (max-width: 786px) {
          width: 50%;
          display: none;
        }
      }
    }
  }
  .bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .bottom-contents {
    flex: 1;
    width: 45%;
    // width: 60%;
    @media screen and (max-width: 1440px) {
      width: 65%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      transform: translate(0px) !important;
    }
  }
}
.laureate3-sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    gap: 48px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    // justify-content: space-between;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 768px) {
      gap: 48px;
    }
  }
  .img-box {
    // height: 75%;
    // width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
    img {
      width: 100%;
      object-position: top;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 55%;
      }
      @media screen and (max-width: 480px) {
        object-position: 55% !important;
      }
    }
  }
  .contents-box {
    width: 55%;
    // width: 57%;
    @media screen and (max-width: 768px) {
      width: 90%;
      // width: 73%;
    }
    @media screen and (max-width: 480px) {
      width: 90%;
    }
  }
  .contents {
    width: 90%;
    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }
  .line {
    margin: 3% 90%;
    width: 100px;
    height: 1px;
    background: $w;
    transform: rotate(-45deg);
    @media screen and (max-width: 768px) {
      margin: 3% 118%;
    }
  }
}
.laureate3-sect-5 {
  .img-box {
    background: url(../img/laureate2-wanjira/6.jpg) no-repeat 50% 50% / cover;
    @media screen and (max-width: 1024px) {
      background-position-x: 33%;
    }
  }
}
//************* 수상자 4 *************
.laureate4-sect-2 {
  .bg {
    right: 39%;
  }
}
.laureate4-sect-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrap {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: space-evenly;
    @media screen and (max-width: 768px) {
      gap: 24px;
      height: 100%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      height: 100%;
      justify-content: space-evenly;
    }
  }
  .top-box {
    .text-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 24px;
      @media screen and (max-width: 1024px) {
        gap: 32px;
        flex-direction: column;
      }
    }
    .left-box,
    .right-box {
      flex: 1;
      flex-basis: 0;
      // padding-left: 5%;
      @media screen and (max-width: 1024px) {
        padding-left: 0%;
      }
      .contents {
        width: 100%;
        @media screen and (max-width: 1440px) {
          width: 100%;
        }
      }
    }
  }
  .bottom-box {
    ul {
      display: flex;
      gap: 24px;
      width: 100%;
      height: 327px;
      @media screen and (max-width: 1024px) {
        height: 240px;
      }
      @media screen and (max-width: 768px) {
        gap: 0px;
        flex-direction: column;
        height: 100%;
      }
      .right,
      .left {
        width: 327px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: none;
          @media screen and (max-width: 768px) {
            height: 110px;
          }
        }
      }
      .right,
      .left {
        display: block;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .middle {
        flex: 1;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: none;
          @media screen and (max-width: 768px) {
            // height: 110px;
          }
        }
        @media screen and (max-width: 1024px) {
          flex: auto;
        }
      }
    }
  }
}
.laureate4-sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    flex: 1;
  }
  .img-box {
    background: url(../img/laureate4-Gusmao/3-3.jpg) no-repeat 50% 50% / cover;
    width: 100%;
    flex: 1;
    @media screen and (max-width: 480px) {
      background-position: 50% 50%;
    }
    img {
      width: 100%;
    }
  }
  .contents-box {
    width: 60%;
    // width: 55%;
    // width: 45%;
    // width: 57%;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    @media screen and (max-width: 480px) {
      width: 90%;
    }
  }
  .contents {
    // width: 70%;
    width: 90%;
    @media screen and (max-width: 1440px) {
      width: 100%;
    }
  }
  .line {
    margin: 3% 90%;
    width: 100px;
    height: 1px;
    background: $w;
    transform: rotate(-45deg);
  }
}
.laureate4-sect-5 {
  opacity: 0;
  .img-box {
    background: url(../img/laureate4-Gusmao/5-1.jpg) no-repeat 50% 50% / cover;
  }
}
//************* 데코 섹션 *************
.deco-sect {
  // margin: 100px 0;
  height: 100vh;
  max-width: none;
  display: flex;
  align-items: center;
  .text-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    height: fit-content;

    .text-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      font-size: 220px;
      white-space: pre;
      height: 240px;
      display: flex;
      align-items: center;
    }
  }
}
//************* 브로슈어 배너 공통 *************
.banner {
  max-width: none !important;
  height: fit-content !important;
  margin: 200px 0 100px;

  .wrap {
    background: url(../img/banner/bg-1.jpg) no-repeat 0 0 / cover;

    .text-box {
      margin: 100px;
      padding: 150px 32px 100px;
      max-width: 1440px;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 28px;
      @media screen and (max-width: 1024px) {
        padding: 100px 24px 60px;
        margin: 100px 0;
        gap: 36px;
      }
      .text-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media screen and (max-width: 1024px) {
          gap: 4px;
        }
        @media screen and (max-width: 1024px) {
          gap: 12px;
        }
      }
      .sub-title {
        font-family: "Aboreto", serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 5px;
        opacity: 0.7;
        @media screen and (max-width: 1024px) {
          letter-spacing: 10.5px;
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
          letter-spacing: 7.3px;
        }
        @media screen and (max-width: 480px) {
          font-size: 12px;
          letter-spacing: 0px !important;
        }
      }
      .title {
        // font-family: $italianno-font;
        font-size: 46px;
        line-height: 120%;
        letter-spacing: 3px;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
          font-size: 36px;
          line-height: 130%;
        }
        @media screen and (max-width: 480px) {
          font-size: 27px;
          letter-spacing: 0px;
          line-height: 150%;
        }
      }
      .download-btn {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 6px;
      }
      .la-download {
        font-size: 21px;
      }
    }
  }
}
.banner1-sect {
  display: none;
}
.banner2-sect {
  @media screen and (max-width: 1024px) {
    margin: 0;
  }
  .sub-title {
    @media screen and (max-width: 1024px) {
      letter-spacing: 8.5px !important;
    }
    @media screen and (max-width: 1024px) {
      letter-spacing: 2.3px !important;
    }
  }
}
//************* 시상식 안내 *************
.ant-sect {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;
  padding: 100px 32px;
  @media screen and (max-width: 480px) {
    padding-top: 200px;
  }
  .wrap {
    width: 100%;
    .sub-text-kr {
      font-size: 30px;
      display: block;
      padding-bottom: 8px;
      @media screen and (max-width: 1024px) {
        // font-size: 53px;
      }
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
      @media screen and (max-width: 480px) {
        font-size: 20px;
        line-height: 180%;
      }
    }
    .text-wrap {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media screen and (max-width: 480px) {
        gap: 6px;
      }
      span {
        font-family: $cinzel-font;
        text-transform: uppercase;
        font-size: 56px;
        @media screen and (max-width: 1024px) {
          font-size: 53px;
        }
        @media screen and (max-width: 768px) {
          font-size: 48px;
        }
        @media screen and (max-width: 480px) {
          font-size: 36px;
          gap: 6px;
        }
      }
      li {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        align-items: center;
        @media screen and (max-width: 480px) {
          gap: 6px;
        }
      }
      img {
        height: 76px;
        flex: 1;
        object-fit: cover;
        @media screen and (max-width: 768px) {
          height: 62px;
        }
        @media screen and (max-width: 480px) {
          height: 50px;
        }
      }
      // .block-span {
      //   // @media screen and (max-width: 1024px) {
      //   //   display: none;
      //   // }
      // }
      // .block-gif-1 {
      //   // @media screen and (max-width: 1024px) {
      //   //   display: none;
      //   // }
      // }
      .block-gif-2 {
        display: none;
        // @media screen and (max-width: 1024px) {
        //   display: flex;
        // }
      }
      .arr-1 {
        display: none;
        @media screen and (max-width: 1024px) {
          display: block;
        }
        @media screen and (max-width: 480px) {
          height: 22px;
        }
      }
      .arr-2 {
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
  @media screen and (min-width: 1441px) {
    .wrap {
      max-width: 1440px;
    }
  }
}

//************* 역대 수상자 갤러리 *************
.gallery {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 200px;
  padding: 250px 32px 200px;
  @media screen and (max-width: 1024px) {
    padding: 180px 32px 140px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (max-width: 480px) {
    gap: 100px;
  }
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    .sub-text-kr {
      font-size: 30px;
      display: block;
      padding-bottom: 8px;
      @media screen and (max-width: 1024px) {
        // font-size: 53px;
      }
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }
    .title-box {
      font-size: 74px;
      line-height: 110%;
      @media screen and (max-width: 1024px) {
        font-size: 56px;
      }
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
      @media screen and (max-width: 480px) {
        font-size: 32px;
        line-height: 140%;
      }
      .title {
        text-transform: uppercase;
      }
      .sub-title {
        font-family: $italianno-font;
        font-weight: 300;
        font-size: 70px;
        color: transparent;
        background: $color-gradient-silver-2;
        background-clip: text;
        -webkit-background-clip: text;
        display: inline-block;
        padding: 0 5px;
        transform: translateX(-30px);
        @media screen and (max-width: 768px) {
          font-size: 60px;
        }
        @media screen and (max-width: 480px) {
          font-size: 32px;
          transform: translateX(0px);
          // transform: translate(0px -12px);
        }
      }
    }
    .swiper-slide {
      width: fit-content !important;
      display: flex;
      flex-direction: column;
      gap: 16px;
      transform: translateX(-100px);
    }
    .btn-prev-box {
      position: absolute;
      width: 300px;
      top: 0;
      bottom: 0;
      z-index: 10;
      background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
      @media screen and (max-width: 480px) {
        background: none;
      }
    }
    .swiper-button-prev,
    .swiper-button-nect {
      color: $w;
      left: 0px;
      font-size: 32px;
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    .img-slide {
      @media screen and (max-width: 480px) {
        display: flex;
      }
      .img-box {
        width: 405px;
        height: 405px;
        @media screen and (max-width: 1024px) {
          width: 368px;
          height: 368px;
        }
        @media screen and (max-width: 480px) {
          width: 222px;
          height: 203px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s;
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 405px;
          background: rgba(0, 0, 0, 0);
          transition: background 0.5s ease;
          @media screen and (max-width: 1024px) {
            height: 368px;
          }
        }
        .btn-gallery {
          position: absolute;
          left: 50%;
          top: 45%;
          transform: translate(-50%, -50%);
          text-align: center;
          opacity: 0;
          transition: opacity 0.35s ease;
          a {
            font-family: $pretendard-font;
            width: 200px;
            padding: 12px 48px;
            text-align: center;
            color: white;
            border: solid 2px white;
            // border-radius: 1000px;
            z-index: 1;
            transition: background 0.35s ease;
          }
          &:hover {
            a {
              background: rgba(255, 255, 255, 0.1);
            }
          }
        }
        &:hover {
          .overlay {
            display: block;
            background: rgba(0, 0, 0, 0.45);
          }
          .btn-gallery {
            opacity: 1;
          }
        }
      }
      .text-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        color: $w;
      }
      .sub-text {
        font-size: 16px;
        letter-spacing: 1px;
        opacity: 0.8;
        @media screen and (max-width: 480px) {
          font-size: 12px;
          letter-spacing: 0px;
        }
      }
      .name {
        font-size: 24px;
        @media screen and (max-width: 480px) {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (min-width: 1441px) {
    .wrap {
      max-width: 1440px;
    }
  }
}

// footer
#footer {
  margin: 200px 0 40px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1024px) {
    font-size: 13px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .left-box {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    gap: 32px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 2px;
      font-size: 12px;
    }
    .right-text-wrap {
      display: flex;
      gap: 16px;
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        gap: 8px;
      }
      .middle {
        @media screen and (max-width: 480px) {
          padding-left: 8px;
        }
      }
    }
  }
  .right-box {
    display: flex;
    gap: 10px;
    font-size: 28px;
    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
      gap: 6px;
    }
    a {
      color: rgba(255, 255, 255, 0.6);
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .naver {
      display: inline-block;
      padding: 1px 0;
      font-family: $pretendard-font;
      font-size: 24px;
      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
