@charset "UFT-8";
@import "variables", "mixin", "fonts", "reset", "main", "contents";

// comm.scss -
// 공통요소 : 헤더, 풋터, 버튼, 아이콘, 박스

// 공통
body {
  background-color: $b;
  color: $w;
  overflow-x: hidden;
  font-family: $crimson-font;
}
.hidden {
  display: none;
}
.wrap {
  // max-width: 1440px;
  margin: 0 auto;
}
main {
  // margin: 0 auto;
  // max-width: 1440px;
  margin: 0 auto;
}
section {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
}
.container {
  padding-left: 32px;
  padding-right: 32px;
  height: 793px;
  // background-color: #121212;
}
.btn {
  border-radius: 100px;
  // border-radius: 8px;
  color: $w;
  font-family: $pretendard-font;
  background: rgba(255, 255, 255, 0);
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
}
.btn-nofilled {
  padding: 16px 24px;
}
.btn-outline {
  padding: 16px 18px 16px 24px;
  border: solid $w 1px;
}

// header
#header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: fit-content;
  padding: 40px 32px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-side {
    display: flex;
    gap: 30px;
    align-items: center;
    width: fit-content;
  }
  .logo-img-1 {
    width: 129px;
  }
  .logo-img-2 {
    width: 60px;
  }
  #logo,
  .logo,
  #anniversary-logo {
    display: flex;
  }
  .right-side {
    display: flex;
    height: fit-content;
  }
  .cta-btn-group {
    display: flex;
    gap: 12px;
    height: fit-content;
  }
}

// main
// 히어로 섹션
.hero-sect {
  display: flex;
  align-items: flex-end;
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 70px;
  }
  .text-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: fit-content;
  }
  .sub-title {
    font-family: $crimson-font;
    letter-spacing: 16px;
    font-size: 24px;
    background: $color-gradient-silver;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .title-box {
    width: 100%;
    height: 222px;
  }
  .title {
    // height: 222px;
    height: auto;
    width: 100%;
    object-fit: cover;
    // background: url("../img/hero/title-hero-section.png") no-repeat 0 0 / cover;
  }
  .img-box {
    // position: absolute;
    // z-index: -1;
    // width: 1440px;
    width: 670px;
    transform: translateY(140px);
    z-index: -1;
  }
  .img {
    // bottom: 180px;
    // right: 64px;
    // position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    // background: url("../img/hero/hero-section-img.gif") no-repeat 0 0 / cover;
  }
}
//슬로건 섹션
.slogan-sect {
  height: auto;
  margin: 200px auto;
  .container {
    height: auto;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .text {
    font-family: $crimson-font;
    font-size: 32px;
  }
  .text-right {
    text-align: right;
  }
  .line {
    width: 100%;
    height: 1px;
    background: $w;
  }
  .arrow-box {
    text-align: right;
    height: 83px;
    width: 100%;
  }
  .arrow {
    width: auto;
    height: 100%;
  }
  .slogan {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    font-family: $crimson-font;
    line-height: 1400%;
    .text {
      font-size: 220px;
      font-weight: bold;
      // height: 200px;
    }
  }
}
// 수상자 섹션
// ************* 공통 *************
.laureate-sect {
  max-width: none !important;
}
.laureate1-container {
  width: 500%;
  max-width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  .container {
    height: 100vh;
  }
}
// 섹션 1
.laureate1-sect-1,
.laureate2-sect-1,
.laureate3-sect-1,
.laureate4-sect-1 {
  max-width: none !important;
  // 비디오
  .video-box {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }
  .video {
    width: 100%;
  }
  .container {
    position: absolute;
    z-index: 10;
    bottom: 45%;
    left: 50%;
    height: fit-content;
    transform: translateX(-50%);
  }
  .contents-title {
    font-size: 30px;
  }
  .contents {
    font-size: 16px;
  }
  // - 섹션 1 타이틀
  .title-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sub-title {
    font-family: $crimson-font;
    font-size: 22px;
    letter-spacing: 7px;
  }
  .name {
    font-family: $crimson-font;
    font-size: 74px;
  }
  .side-text-box {
    font-family: $crimson-font;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
  }
}
// 섹션 2
.laureate1-sect-2,
.laureate2-sect-2,
.laureate3-sect-2,
.laureate4-sect-2 {
  .container {
    display: flex;
    align-items: flex-end;
    gap: 80px;
  }
  .img-box,
  .text-box {
    flex: 1;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
    margin: 10% 0;
  }
}
// 텍스트 - 섹션 2, 3, 4
.contents-title {
  font-size: 30px;
}
.contents {
  font-size: 16px;
  height: fit-content;
  width: 70%;
}
.top span {
  font-size: 24px;
  font-style: italic;
}
// 섹션 3
.laureate1-sect-3,
.laureate2-sect-3,
.laureate3-sect-3,
.laureate4-sect-3 {
  padding: 80px 64px;

  .text {
    width: 1000px;
    height: fit-content;
  }
}
// 섹션 4
.laureate1-sect-4,
.laureate2-sect-4,
.laureate3-sect-4,
.laureate4-sect-4 {
  padding: 80px 64px;
}

//************* 수상자 1 *************
.laureate1-sect-2 {
  .img-box {
    width: 100%;
    height: 100%;
    background: url("../img/laureate1-patrick/1.jpg") no-repeat 50% 50% / cover;
  }
}
.laureate1-sect-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    max-height: 678px;
    width: 100%;
  }
  .big-screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    // gap: 50px;
    .text {
      width: 800px;
    }
  }
  .small-screen {
    display: none;
  }

  .top-contents,
  .bottom-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .img-box {
    flex: 1;
    display: flex;
    gap: 24px;
  }
  img {
    width: 327px;
    height: 327px;
    // flex: 1;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .text {
    .contents-title {
      width: fit-content;
    }
  }
}
.laureate1-sect-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .img-box img {
    width: 50%;
  }
  .text-box {
    width: 50%;
    transform: translate(-30%, 0%);
  }
  .line {
    margin: -3% 70%;
    width: 1px;
    height: 100px;
    background-color: $w;
    transform: rotate(45deg);
  }
}
.laureate1-sect-5 {
  .container {
    display: flex;
  }
  .img-box {
    background: url(../img/laureate1-patrick/7.webp) no-repeat 50% 50% / cover;
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    flex: 1;
    text-align: center;
  }
  .contents {
    font-size: 24px;
  }
  .line {
    width: 1px;
    height: 100px;
    transform: rotate(45deg);
    background: $w;
  }
}

// footer
#footer {
  margin-bottom: 200px;
  // border-top: 10px solid $b;
}
