@charset "UFT-8";
@import "variables", "mixin", "fonts", "reset", "main", "contents";

// comm.scss -
// 공통요소 : 헤더, 풋터, 버튼, 아이콘, 박스

// 공통
body {
  background-color: $b;
  color: $w;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.wrap {
  // max-width: 1440px;
  margin: 0 auto;
}
main {
  // margin: 0 auto;
  // max-width: 1440px;
  margin: 0 auto;
}
section {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
}
.container {
  padding-left: 32px;
  padding-right: 32px;
  height: 793px;
  // background-color: #121212;
}
.btn {
  border-radius: 8px;
  color: $w;
  font-family: $pretendard-font;
  background: rgba(255, 255, 255, 0);
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
}
.btn-nofilled {
  padding: 16px 24px;
}
.btn-outline {
  padding: 16px 18px 16px 24px;
  border: solid $w 1px;
}

// header
#header {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: fit-content;
  padding: 40px 32px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-side {
    display: flex;
    gap: 30px;
    align-items: center;
    width: fit-content;
  }
  .logo-img-1 {
    width: 129px;
  }
  .logo-img-2 {
    width: 60px;
  }
  #logo,
  .logo,
  #anniversary-logo {
    display: flex;
  }
  .right-side {
    display: flex;
    height: fit-content;
  }
  .cta-btn-group {
    display: flex;
    gap: 12px;
    height: fit-content;
  }
}

// main
// 히어로 섹션
.hero-sect {
  display: flex;
  align-items: flex-end;
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 70px;
  }
  .text-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: fit-content;
  }
  .sub-title {
    font-family: $crimson-font;
    letter-spacing: 16px;
    font-size: 24px;
    background: $color-gradient-silver;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .title-box {
    width: 100%;
    height: 222px;
  }
  .title {
    // height: 222px;
    height: auto;
    width: 100%;
    object-fit: cover;
    // background: url("../img/hero/title-hero-section.png") no-repeat 0 0 / cover;
  }
  .img-box {
    // position: absolute;
    // z-index: -1;
    // width: 1440px;
    width: 670px;
    transform: translateY(140px);
    z-index: -1;
  }
  .img {
    // bottom: 180px;
    // right: 64px;
    // position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    // background: url("../img/hero/hero-section-img.gif") no-repeat 0 0 / cover;
  }
}
//슬로건 섹션
.slogan-sect {
  height: auto;
  margin: 200px auto;
  .container {
    height: auto;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .text {
    font-family: $crimson-font;
    font-size: 32px;
  }
  .text-right {
    text-align: right;
  }
  .line {
    width: 100%;
    height: 1px;
    background: $w;
  }
  .arrow-box {
    text-align: right;
    height: 83px;
    width: 100%;
  }
  .arrow {
    width: auto;
    height: 100%;
  }
  .slogan {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    font-family: $crimson-font;
    line-height: 1400%;
    .text {
      font-size: 220px;
      font-weight: bold;
      // height: 200px;
    }
  }
}
// 수상자 섹션
.laureate1-sect-1,
.laureate2-sect-1,
.laureate3-sect-1,
.laureate4-sect-1 {
  max-width: none !important;
  .video {
    width: 100%;
  }
}
// 수상자 1 섹션
.laureate1-sect {
  // .video-box {
  //   // position: absolute;
  //   // width: 100%;
  //   // z-index: -1;
  // }
}
// footer
#footer {
  margin-bottom: 200px;
  // border-top: 10px solid $b;
}
